---
layout: default
---
<!-- page.html -->
        <div class="post research">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
            {% for axis in site.data.axes %}
              <h2 id="{{ axis.slurm }}">{{ axis.name }}</h2>
              <div class="axis">
                <div class="preview"><img src="{{ axis.img | prepend: '/assets/img/' | size: 500 | relative_url }}"></div>
                <div class="description">{{ axis.description }}</div>
              </div>
            {% endfor %}
          </article>

        </div>
